<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Shark Questions">
    <title>Shark Question- {{post.title}}</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <header>
        <h1>New Sharks Forum</h1>
    </header>
    <nav>
        <a href="{{url_for('index')}}">Home</a>
    </nav>
    <body>
    <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
        <p>Posted by: {{user.name}}</p>
        <p>Date: {{post.date}}</p>

        <h2>Question Title:</h2>
        <!--Will need to be connected to the database to get question saved-->
        <p><input type="text" name="title" value="{{post.title}}"/></p> 
        <p>Question:</p>
        <p>
            <!--User's already answered question ready for edit.-->
            <textarea name="noteText"  rows="6" cols="0">{{post.text}}</textarea>
        </p>        
        <!--Saves the edits and then returns to selected_question.html-->
        <form>
            <input type="submit" value="Save">
        </form>
        <!--Allows User to delete during the editing process.-->
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
            <input type="submit" value="Delete">
        </form>
        <!--End of if statement-->
    </form>
    {% if post.comments %}
    {% if post.comments|length > 0 %}
        <h2>Replies</h2>
        <ul>
        {% for comment in post.comments %}
            <li>{{ comment.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endif %}
    </body>
</html>