<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="Shark Questions">
    <title>Shark Questions</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">


<script>
    function search() {
        
        // Variable declaration
        var input, toUpper, table, tr, td, i, search, id;
        
        input = document.getElementById("searchBar");
        toUpper = input.value.toUpperCase();
        table = document.getElementById("myPosts");
        tr = table.getElementsByTagName("tr");

        var radios = document.getElementsByName('number');

        for (var i = 0, length = radios.length; i < length; i++){
            if (radios[i].checked){
                id = radios[i];
                break;
            }
        }

        // Iterates throught table and hides all results that do not match search criteria
        for (i = 0; i < tr.length; i++) {
            
            td = tr[i].getElementsByTagName("td")[id.value];
            
            if (td) {
             search = td.textContent || td.innerText;

            if (search.toUpperCase().indexOf(toUpper) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>


    </head>
    <header>
        <h1>New Sharks Forum</h1>
    </header>
    <nav>
        <a href="{{url_for('index')}}">Home</a>
    </nav>
    {% if user %}
        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    {% else %}
        <nav>
            <a href="{{url_for('register')}}">Register</a>
            <a href="{{url_for('login')}}">Login</a>
        </nav>
    {% endif %}
    <body>
        <div>
        <br>
        <form action = "{{url_for('new_post')}}">
        <input type="submit" value = "New post">
        </form>
        <br>
        <h2> Search posts:</h2>
            <div>
                <input id="num1" type="radio" value="0" name="number" checked>
                <label for="num1">ID</label>
            </div>
            <div>
                <input id="num2" type="radio" value="1" name="number">
                <label for="num2">Title</label>
            </div>
            <div>
                <input id="num3" type="radio" value="2" name="number">
                <label for="num3">Date</label>
            </div>
        <input type="text" id="searchBar" onkeyup="search()" placeholder="Enter a post title">

        <br>
        <br>

        <table class="question_list" id="myPosts">
            <tr>
                <th> ID </th>
                <th>Title</th>
                <th>Date</th>
               <!-- <th>User</th> -->
            </tr>
           {% for post in posts %}
            <tr>
                <!-- based off names used in sql table -->
                <td>{{post.id}} </td>
                <td><a href="{{ url_for('get_post', post_id=post.id) }}">{{post.title}}</a></td>
                <td>{{post.date}} </td>
           
                <td><!--Connect Edit Method/Link, when user clicks on edit it will go to the edit_selected_question.html-->
                 <form action="{{ url_for('update_post', post_id=post.id) }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>  
                <td>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %} 
        </table>
        </div>
    </body>
</html>
